.ck-editor {
    height: 250px!important;
}
.ck-editor__editable {
    height: 200px!important;
}
.custom-label {
    font-size: 14px;
    color: #797979;
    font-weight: 500;
}
.v-overlay__scrim{
  opacity: 0!important;
}
.c00c292{background-color: #00c292!important;color: #fff!important;padding: 0 13px!important;height: 30px!important;}

.swal2-title {
    font-weight: 500!important;
}
.v-breadcrumbs__item{color: #00c292!important;font-size: 12px; font-weight: 600; letter-spacing: 1.5px;}
.v-breadcrumbs__item--disabled{color: #a0a0a0 !important;}
.darkcolorbg{background: #14213d;}
.theme--dark.v-navigation-drawer{background-color: #14213d}
.rank-input{border: 1px solid;width: 12%;border-radius: 5px;padding: 2px 0;text-align: center;color: #000;opacity: 1;}
