.ck-editor {
    height: 250px!important;
}
.ck-editor__editable {
    height: 200px!important;
}
.custom-label {
    font-size: 14px;
    color: #797979;
    font-weight: 500;
}
.v-overlay__scrim{
  opacity: 0!important;
}
.c00c292{background-color: #00c292!important;color: #fff!important;padding: 0 13px!important;height: 30px!important;}